* {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
margin: 0;
background: #fefefe;
font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
font-size: 17px;}

img {
width: 100%;
height: auto;}

/*------------------- TEXT ----------------------*/

a {
text-decoration: none;
color: #444;
transition: .5s;
opacity: 1;
cursor: crosshair;}

a:hover {opacity: .2; color: #aaa;}

a.one:hover {opacity: 1;}

h1 {
font-family: 'Roboto Mono';
font-size: 30px;
color: #222;
font-weight: 500;
line-height: 55px;
text-align: left;
font-weight: 300;}

p {
font-size: 12px;
font-weight: 200;
line-height: 24px;
font-family: 'Open Sans';
color: #888;}


b {font-weight: 700;}

/*------------------- TEXT ----------------------*/


/*-------------------PROJECT ----------------------*/

.INTRO {
width: 40vw;
min-height: 100vh;
position: fixed;
background: #fefefe;
top: 12vh;}

.SWRAP {
width: 40vw;
height: 100vh;
background-color: #efefef;
background-image: url(PRO.jpg);
background-position: top;
background-size: cover;
position: absolute;
border-radius: 2px;
overflow:hidden;}

.PORT {
width: 60vw;
min-height: 88vh;
float: right;
position: relative;
background: #fefefe;
top: 12vh;
padding-top: 10vh;
padding-bottom: 10vh;
-webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}

.hello {
max-width: 40vw;
position: relative;
left: 50%;
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
transform: translate(-50%);}


.hlogo {
width: 10vh;
height: 10vh;
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 2%;}

#HEAD {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
height: 12vh;
width: 100%;
z-index: 999;
position: fixed;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}


.NAV {
position: absolute;
right: 4vw;
top: 50%;
transform: translateY(-50%);
height: 20px;
font-family: 'Roboto Mono';
font-weight: 300;
font-size: 14px;
word-spacing: 20px;}


/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (min-width: 800px){
    
    
hi {
font-family: 'Roboto Mono';
font-size: 17px;
color: #fefefe;
font-weight: 100;
line-height: 40px;
text-transform: lowercase;
line-height: 60px;
letter-spacing: 1px;}
    
i {
font-size: 24px !important;
letter-spacing: 15px;}
    
.P:hover {background-size: 200%;}

.APP {display: none;}
    
.box {
width: 20vh;
height: 5.66vh;
font-size: 1.8vh;
padding: 1.3vh;
}
    
} /*---min--*/

/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 800px){

    
h1 {
font-size: 15px;
line-height: 30px;}
    
hi {
font-family: 'Roboto Mono';
font-size: 3vw;
color: #fefefe;
font-weight: 400;
line-height: 40px;
text-transform: lowercase;
line-height: 50px;
letter-spacing: 1px;}
    
i {
font-size: 2.5vh !important;
letter-spacing: 15px;}
    
.hello {
max-width: 40vh;}
    
.INTRO {
top: 10vh;
}
    
.PORT {
width: 100vw;
top: 40vh;
height: 95vh;
padding-top: 10vh;
padding-bottom: 10vh;
    }

.INTRO, .SWRAP {
width: 100vw;
height: 40vh;}
    
.SWRAP {
background-image: url(PRO.jpg);
background-position: top;
    }
    
.cover {
padding-top: 35%;
padding-bottom: 35%;}

.APPH {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
width: 100%;
height: 10vh;
top:0px;
z-index: 999;
position: fixed;
padding: 0px 10px;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}
    
.P {
width: 40vh;
height: 30vh;
margin-top: 30px ;
margin-left: 15px;}

    
.PBOX {top: 11vh;}

.NWA {
position: relative;
top: 50%;
transform: translateY(-50%);
}
    
.box {
width: 18vh;
height: 5vh;
font-size: 1.8vh;
}    

    
.WEB { display: none;}
    

    
} /*---max--*/


/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

footer {
height: 3.5vh;
background: #222;
width: 100%;
text-align:left;}

f1 {
position: relative;
font-size: 8px;
left: 15px;
color: #ddd;}
