* {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
margin: 0;
background: #fefefe;
font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
font-size: 17px;}

img {
width: 100%;
height: auto;}


/*------------------- TEXT ----------------------*/

a {
text-decoration: none;
color: #333;
transition: .5s;
opacity: 1;
cursor: crosshair;}

a:hover {opacity: .4;}

a.one:hover {opacity: 1;}

h1 {
font-family: 'Roboto Mono', monospace;
font-size: 30px;
font-weight: 500;
line-height: 48px;
font-weight: 100;}

h2 {
font-weight: 300;}
    
h3 {
font-size: 14px;
font-weight: 200;
    }


p {
font-size: 12px;
font-weight: 200;
line-height: 24px;
color: #888;}


b {font-weight: 700;}

/*------------------- TEXT ----------------------*/


.crossfade > figure {
/*animation: imageAnimation 30s linear infinite 0s;*/
/*
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
*/
background-size: cover;
background-position: center;
color: transparent;
height: 100%;
width: 100%;
z-index: 0;
position: absolute;
margin-top: 0px;
margin-left: 0px;}

.crossfade > figure:nth-child(1) { background-image: url('plaslap.jpg'); }
 
.crossfade > figure:nth-child(2) {
/*animation-delay: 5s;*/
background-image: url('screens.jpg');}
 
.crossfade > figure:nth-child(3) {
/*animation-delay: 11s;*/
background-image: url('sketch.jpg');}

.crossfade > figure:nth-child(4) {
/*animation-delay: 17s;*/
background-image: url('flow.jpg');}
 
.crossfade > figure:nth-child(5) {
/*animation-delay: 23s;*/
background-image: url('sketch2.png');}

/*
@keyframes
imageAnimation {  0% {
animation-timing-function: ease-in-out;
opacity: 0;}
    
8% {opacity: 1;}

17% {opacity: 1;}

25% {opacity: 0;}
    
100% {
animation-timing-function: ease-in-out;
opacity: 0;
}
}
*/


/*-------------------PROJECT ----------------------*/

.INTRO {
width: 100%;
height: 100vh;
position: fixed;
background-color: #fefefe;
background-image: url(plaslap.jpg);
top: 0px;}

.SWRAP, #vidbg {
width: 100vw;
height: 100vh;
top: 0;
left: 0;
position: absolute;
border-radius: 2px;
overflow:hidden;
}

#vidbg {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width:auto;
height: auto;
z-index: 0;
}

.inlogo {
width: 20vh;
height: 20vh;
position: absolute;
z-index: 9999;
margin: 0px;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}

.PORT {
width: 100%;
position: relative;
background: #fefefe;
top: 97vh;
padding-top: 0vh;
padding-bottom: 12vh;
-webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}


.dot {animation: pulse .8s infinite;}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hlogo {
width: 7vh;
height: 7vh;
position: absolute;
top: 55%;
transform: translateY(-50%);
left: 10%;}


.animate {
  background: #fefefe;
  position: absolute;
  overflow: hidden;
  transition: transform 1s ease-in;
  z-index: 999;
}

#HEAD {
  height: 13vh;
 position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#RIGHT {
  width: 13vh;
  right: 0;
  top: 0;
  bottom: 0;
}

#BOTTOM {
  height: 13vh;
  left: 0;
  right: 0;
  bottom: 0;
}

#LEFT {
  width: 13vh;
  left: 0;
  top: 0;
  bottom: 0;
}

#HEAD.start {
  transform: translateY(-100%);
}
#HEAD.end {
  transform: translateY(0);
}

#LEFT.start {
  transform: translateX(-100%);
}
#LEFT.end {
  transform: translateY(0);
}

#BOTTOM.start {
  transform: translateY(100%);
}
#BOTTOM.end {
  transform: translateY(0);
}

#RIGHT.start {
  transform: translateX(100%);
}
#RIGHT.end {
  transform: translateX(0);
}



.NAV {
position: absolute;
right: 10vw;
top: 50%;
transform: translateY(-50%);
height: 20px;
font-family: 'Roboto Mono', monospace;
font-weight: 300;
font-size: 11px;
word-spacing: 15px;}


.go a:before,
.go a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.go a:after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}


#hiwrap {
background: rgba(255, 255, 255, 0.80);
width: 100%;
height: 100%;
position: absolute;
margin: 0;
color: black;
}



.desktop {
position: absolute;
max-width: 62vw;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
animation: fadein 2s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.FEATB {
width: 100%;
position: relative;
margin-left: auto;
margin-right: auto;
font-weight: 100;
font-size: 16px;
padding-bottom: 10px;}


/* not yet 

.filter_wrap {
position: relative;
width: 72vw;
margin: 0;
height: 7vh;
}


input[type="radio"] { display: none; }

label {
float: left;
  padding-right: 2%;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;color: #222222;
  transition: .3s ease-in-out;
}

label:hover {
color: #cccccc;
}



input[type="radio"][id="blue"]:checked + label { text-decoration: underline; }
 
input[type="radio"][id="blue"]:checked ~ #red,
input[type="radio"][id="blue"]:checked ~ #green,
input[type="radio"][id="blue"]:checked ~ #cyan {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}
 
input[type="radio"][id="red"]:checked + label { text-decoration: underline; }
 
input[type="radio"][id="red"]:checked ~ .blue,
input[type="radio"][id="red"]:checked ~ .green,
input[type="radio"][id="red"]:checked ~ .cyan {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}
 
input[type="radio"][id="green"]:checked + label { text-decoration: underline; }
 
input[type="radio"][id="green"]:checked ~ .blue,
input[type="radio"][id="green"]:checked ~ .red
input[type="radio"][id="green"]:checked ~ .cyan {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

input[type="radio"][id="cyan"]:checked + label { text-decoration: underline; }
 
input[type="radio"][id="cyan"]:checked ~ .blue,
input[type="radio"][id="cyan"]:checked ~ .red
input[type="radio"][id="cyan"]:checked ~ .green {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

*/


.PBOX {
max-width: 90vw;
position: relative;
margin-left: auto;
margin-right: auto;
top: 5vh;}

.P {
width: 70vh;
height: 50vh;
margin: 25px;
overflow: hidden;
position: relative;
display: inline-block;
background-size: 150%;
background-position: center;
transition: all .5s ease-in-out;}

.ONE {background-image: url(national.jpg);}

.TWO {background-image: url(seasonal.jpg);}

.THREE {
background-image: url(conc.jpg);}

.FOUR {
background-image: url(via.jpg);}

.FIVE {background-image: url(aurore.jpg);}

.SIX {background-image: url(plasmu.jpg);}

.B {
height: 3vh;
background: none;}

.cover {
position: relative;
background: rgba(255, 255, 255, 0.9);
transition: all .5s ease-in-out;
width: 100%;
height: 100%;
padding: 28% 0% 32% 0%;
text-align: center;
font-family: 'Roboto Mono', monospace;
color: #333;
font-size: 14px;
line-height: 10px;
margin: 0;
opacity: 0;}

.P:hover .cover {opacity: 1;}


/*-------------------HIRE----------------------*/

    
.HIREWRAP {
height: 9vh;
width: 100%;
top: 97vh;
position: relative;
overflow: hidden;
background-color: #fafafa;}
    
.HW {
width: 75vw;
height: auto;
position: relative;
display: inline-block;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}

.footnav {
float: right;
word-spacing: 20px;
text-transform: uppercase;
}

/*-------------------HIRE----------------------*/


/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (min-width: 800px){
    
    
hi {
font-family: 'Roboto Mono', monospace;
font-size: 11px;
color: #333333;
font-weight: 100;
line-height: 40px;
letter-spacing: 1px;}
    
i {
font-size: 1.5vw !important;
letter-spacing: 15px;}
    
.P:hover {background-size: 200%;}

.APP {display: none;}
    
} /*---min--*/

/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 800px){

    
h1 {
font-size: 15px;
line-height: 25px;}

    
hi {
font-family: 'Roboto Mono', monospace;
font-size: 10px;
color: #333333;
font-weight: 400;
line-height: 30px;
letter-spacing: 1px;}
    
.footnav {
word-spacing: 5px;
}
    
    
i {
font-size: 16px !important;
letter-spacing: 15px;}
    
    
.hello {
max-width: 70vw;
}

.mobile {
margin-top: 22vh;
margin-left: auto;
margin-right: auto;
    }
    
.PORT, .HIREWRAP {
top: 0;
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
-moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 0);
box-shadow:         0px 0px 0px rgba(0, 0, 0, 0);}

.cover {
padding: 35% 0% 35% 0%;}

.APPH {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
width: 100%;
height: 10vh;
top:0px;
z-index: 999;
position: fixed;
padding: 0px 10px;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}
    
.P {
position: relative;
width: 40vh;
height: 30vh;
overflow: hidden;
margin-top: 30px ;
margin-left: 15px;}

.B {height: 5vh;}
    
.PBOX {top: 11vh;}

.NWA {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    }
   
.d_wrap {
width: 100%;
height: 15%;
padding: 3% 3% 3% 3%;
background: white;
position: absolute;
bottom: 0;
left: 0p;
    }    
    
.DESC {
position: absolute;
margin-left: 0;
margin-bottom: 0;
width: 40vh;
height: 20px;
font-size: 11px;
text-align: left;
font-family: 'Roboto Mono', monospace;
font-weight: 100;}
    
.FEATB {
width: 45vw;
font-size: 15px; 
font-weight: 400;
text-align: center;}
    
.line {width: 0%;}
    
.WEB { display: none;}
    

    
} /*---max--*/


/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/