* {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
margin: 0;
background: #fefefe;
font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
font-size: 17px;}

img {
width: 100%;
height: auto;}

/*------------------- TEXT ----------------------*/

a {
text-decoration: none;
color: #333;
transition: .5s;
opacity: 1;
cursor: crosshair;}

a:hover {opacity: .2;}

a.one:hover {opacity: 1;}

h1 {
font-family: 'Roboto Mono';
font-size: 30px;
color: #222;
font-weight: 500;
line-height: 55px;
text-align: left;
font-weight: 300;}

p {
font-size: 12px;
font-weight: 200;
line-height: 24px;
color: #888;}


b {font-weight: 700;}

/*------------------- TEXT ----------------------*/


.crossfade > figure {
/*animation: imageAnimation 30s linear infinite 0s;*/
/*
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
*/
background-size: cover;
background-position: center;
color: transparent;
height: 100%;
width: 100%;
z-index: 0;
position: absolute;
margin-top: 0px;
margin-left: 0px;}

.crossfade > figure:nth-child(1) { background-image: url('C01.jpg'); }
 
.crossfade > figure:nth-child(2) {
/*animation-delay: 5s;*/
background-image: url('C02.png');}
 
.crossfade > figure:nth-child(3) {
/*animation-delay: 11s;*/
background-image: url('C03.JPG');
background-size: 130%;
background-position: bottom;}

.crossfade > figure:nth-child(4) {
/*animation-delay: 17s;*/
background-image: url('C04.png');}
 
.crossfade > figure:nth-child(5) {
/*animation-delay: 23s;*/
background-image: url('C05.jpg');}

/*
@keyframes
imageAnimation {  0% {
animation-timing-function: ease-in-out;
opacity: 0;}
    
8% {opacity: 1;}

17% {opacity: 1;}

25% {opacity: 0;}
    
100% {
animation-timing-function: ease-in-out;
opacity: 0;
}
}
*/


/*-------------------PROJECT ----------------------*/

.INTRO {
width: 100%;
height: 100vh;
position: fixed;
background: #fefefe;
top: 0px;}

.SWRAP {
width: 100vw;
height: 100vh;
position: absolute;
border-radius: 2px;
overflow:hidden;}

.inlogo {
width: 50vh;
height: 50vh;
position: absolute;
z-index: 9999;
margin: 0px;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}

.PORT {
width: 100%;
position: relative;
background: #fefefe;
top: 100vh;
padding-top: 12vh;
padding-bottom: 12vh;
-webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}

.hello {
max-width: 55vw;
position: relative;
left: 50%;
margin-top: 10vh;
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
transform: translate(-50%);}

.dot {animation: pulse .8s infinite;}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hlogo {
width: 10vh;
height: 10vh;
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 2%;}

#HEAD {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
width: 100%;
z-index: 999;
position: fixed;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}


.NAV {
position: absolute;
right: 4vw;
top: 50%;
transform: translateY(-50%);
height: 20px;
font-family: 'Roboto Mono';
font-weight: 300;
font-size: 14px;
word-spacing: 20px;}


.FEATB {
width: 54vw;
position: relative;
text-align: left;
font-weight: 100;
font-size: 16px;
padding-bottom: 10px;}

.line {
position: relative;
float: right;
height: 1px;
background: #333;
width: 35vw;
margin-top: 12px;}


.PBOX {
max-width: 80vw;
position: relative;
margin-left: auto;
margin-right: auto;
top: 17vh;}

.P {
width: 50vh;
height: 50vh;
margin: 25px;
position: relative;
display: inline-block;
background-size: 150%;
background-position: center;
transition: all .5s ease-in-out;}

.ONE {background-image: url(APP.jpg);}

.TWO {background-image: url(HUE07.jpg);}

.THREE {
background-image: url(C04.png);
background-position: left;}

.FOUR {
background-image: url(BG02.JPG);}

.FIVE {background-image: url(CONSBG.gif);}

.SIX {background-image: url(HANDS.jpg);}

.B {
height: 20vh;
background: none;}

.cover {
position: relative;
background: rgba(255, 255, 255, 0.9);
transition: all .5s ease-in-out;
width: 100%;
height: 100%;
padding-top: 50%;
padding-bottom: 50%;
text-align: center;
font-family: 'Roboto Mono';
color: #333;
font-size: 14px;
font-weight: 300;
margin: 0;
opacity: 0;}

.P:hover .cover {opacity: 1;}


/*-------------------HIRE----------------------*/

    
.HIREWRAP {
height: 50vh;
width: 100%;
top: 100vh;
position: relative;
overflow: hidden;
background-color: orangered;
background-attachment: fixed;
background-size: cover;}
    
.HW {
width: 45vw;
height: auto;
position: relative;
text-align: center;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}

/*-------------------HIRE----------------------*/


/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (min-width: 800px){
    
    
hi {
font-family: 'Roboto Mono';
font-size: 17px;
color: #fefefe;
font-weight: 100;
line-height: 40px;
text-transform: lowercase;
line-height: 60px;
letter-spacing: 1px;}
    
i {
font-size: 24px !important;
letter-spacing: 15px;}
    
.P:hover {background-size: 200%;}

.APP {display: none;}
    
} /*---min--*/

/*-----------------------------------------------------*/
/*------------------- BIG SCREEN ----------------------*/
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 800px){

    
h1 {
font-size: 15px;
line-height: 30px;}
    
hi {
font-family: 'Roboto Mono';
font-size: 3vw;
color: #fefefe;
font-weight: 400;
line-height: 40px;
text-transform: lowercase;
line-height: 50px;
letter-spacing: 1px;}
    
i {
font-size: 2.5vh !important;
letter-spacing: 15px;}
    
.hello {
max-width: 40vh;
margin-top: 12vh;}
    
.PORT, .HIREWRAP {
top: 0;
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
-moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 0);
box-shadow:         0px 0px 0px rgba(0, 0, 0, 0);}

.cover {
padding-top: 35%;
padding-bottom: 35%;}

.APPH {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
width: 100%;
height: 10vh;
top:0px;
z-index: 999;
position: fixed;
padding: 0px 10px;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}
    
.P {
width: 40vh;
height: 30vh;
margin-top: 30px ;
margin-left: 15px;}

.B {height: 8vh;}
    
.PBOX {top: 11vh;}

.NWA {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    }
    
.DESC {
position: relative;
margin-bottom: 0px;
width: 40vh;
height: 20px;
font-size: 13px;
text-align: left;
font-family: 'Roboto Mono';
font-weight: 100;
display: inline-block;}
    
.FEATB {
width: 45vw;
font-size: 15px; 
font-weight: 400;
text-align: center;}
    
.line {width: 0%;}
    
.WEB { display: none;}
    

    
} /*---max--*/


/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

footer {
height: 3.5vh;
background: #222;
width: 100%;
text-align:left;}

f1 {
position: relative;
font-size: 8px;
left: 15px;
color: #ddd;}
