* {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;}

html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

@keyframes fadeInOpacity {
0% {
opacity: 0;}
100% {
opacity: 1;
}
}

body {
margin: 0;
background: #fefefe;
font-family: Helvetica, Arial, sans-serif;
font-size: 17px;}

img {
width: 100%;
height: auto;}

@font-face {
font-family: "Halibut";
src: url("/fonts/HalibutSerif-Variable.ttf");
src:
url("/fonts/HalibutSerif-Variable.ttf") format("truetype"),
}


/*------------------- TEXT ----------------------*/

a {
text-decoration: none;
color: #333;
transition: .5s;
opacity: 1;
cursor: crosshair;}

a:hover {opacity: .4;}

a.one:hover {opacity: 1;}

h0 {
font-family: /* 'Roboto Mono', monospace*/ Helvetica, Arial, sans-serif;
font-size: 11px;
line-height: 50px;
font-weight: 400;
letter-spacing: 1px;
text-transform: uppercase;
margin: 0;}

h1 {
font-family: 'Halibut', Helvetica;
font-size: 32px;
margin: 0px;
font-weight: 300;}

p {
font-size: 13px;
font-weight: 200;
line-height: 18px;
margin-top: 8px;
color: #333;}

b {font-weight: 700;}


/*------------------- TEXT ----------------------*/

.APP {display: none;}

#HEAD {
height: 13vh;
position: fixed;
top: 0;
left: 0;
right: 0;
background: white;
z-index: 999;
}

.NAV {
position: absolute;
right: 9vw;
top: 6.5vh;
height: 20px;
font-size: 11px;
letter-spacing: 1px;}

.go a:before,
.go a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.go a:after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}

.hlogo {
position: absolute;
top: 55%;
transform: translateY(-50%);
left: 10%;}

/*------------------- CONTENT ----------------------*/


.CONTENT {
max-width: 80vw;
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 13vh;  
}

.COVER, .CASE {
width: 100%;
position: relative;
}



.CASE {
margin-top: 0;
padding-top 6vw;
display: inline-block;
}




sectionfb { position: relative;}




.fullbleed {
    position: relative;
    width: 100vw;
    height: auto;
    display: block;
        padding: 1vw 0vw 3vw 0vw;
   left: 50%;
transform: translateX(-50%);
    overflow-x: scroll;
}


.bleedgroup {
margin-left: 1vw;
width: 135vw;  
}



.fullbleedtextcontainer {
display: block;
position: absolute;
width: 18vw;
}



.GRAY {
background-color: #F8F7F5;
padding: 6vw 6vw 6vw 6vw;
}


.YELLOW {
background-color: #FEF7E6;
padding: 6vw 9vw 6vw 9vw;
}

.GREEN {
background-color: #BAD3C2;
padding: 6vw 9vw 6vw 9vw;
}


.SAND {
background-color: #EFEDE7;
padding: 6vw 9vw 6vw 9vw;
}

.ORANGE {
background-color: #EFEDE7;
padding: 6vw 9vw 6vw 9vw;
}

hs1 {
font-size: 30px;
font-family: 'Halibut', sans-serif; 
}


.fbimg {
    margin-left: 30vw;
    height: auto;
    position: relative;
    display: inline-block;
    height: 30vw;
}


.fbimg img {
    width: auto;
    height: 100%;
}


.rel {
    margin-left: 1vw;
    height: 45vw;
}


.top {
margin-top: 0;
width: 100%;
padding-left: 16vw;
padding-right: 16vw;
text-align: center;
}


.image {
position: relative;
padding-bottom: 0;
}

.caseimage {
padding-bottom: 3vw;
padding-top: 3vw;
}


.OTHER {
padding: 6vh 6vh 6vh 6vh;
}

.OTHER a {
font-size: 11px;
letter-spacing:1px;
font-weight: 400;
}

.section {
position: relative;
padding-top: 6vw;
padding-bottom: 6vw;
text-align: center;
}


.browserscreen {
width: 77vw;
height: 42vw;
border-radius: 2vh;
border: 2px solid #E5E5E5;
overflow: scroll;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */
}


.browserscreen::-webkit-scrollbar { 
 display: none;  /* Safari and Chrome */
}
  


.browserbar {
position: absolute;
margin: 0;
border-radius: 1.7vh 1.7vh 0vh 0vh;
background: rgba(255,255,255,.9);
height: 3vw;
width: 76.7vw;
}

.browserbar img {
margin-left: 1.5vw;
margin-top: 1.2vw;
width: 3vw; 
float: left;
    }


.browsercontent {
margin-top: 3vw; 
}



li {
list-style: none;
display: inline-block;
margin: 0% 2% 2% 2%;
text-transform: uppercase;
font-weight: 100;
font-size: 12px;
color: #aaa;
text-align: center;
}



/*-----------------------------------------------------*/
/*------------------- LIL SCREEN ----------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 800px){
    
    
.WEB { display: none;}
.APP {display: inherit;}
    
.APPH {
margin-top: 0px;
margin-left:0px;
background: #fefefe;
width: 100%;
height: 10vh;
top:0px;
z-index: 999;
position: fixed;
padding: 0px 10px;
overflow: hidden;
-webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.05);
-moz-box-shadow:    0px 0px 50px 20px rgba(0, 0, 0, 0.05);
box-shadow:         0px 0px 50px 20px rgba(0, 0, 0, 0.05);}
    
.NWA {
position: relative;
top: 50%;
transform: translateY(-50%);
}
    
.CASE {
padding-top: 4vw;
}
    
    
.CONTENT {
max-width: 100%;
position: relative;
padding: 0px 20px 0px 20px;
}
    
    
.intro_desc {
margin-top: 0;
width: 100%;
float: left;
}

.info_desc {
margin-top: 0;
width: 100%;
float: left;
text-align: left;
}
    
    
h1 {
font-family: 'Halibut', Helvetica;
font-size: 24px;
font-weight: 300;}


p {
font-size: 12px;
font-weight: 200;
line-height: 16px;
color: #333;    }
    
    
.top {
padding-left: 6vw;
padding-right: 6vw;}
    
    .section {
padding: 6vw 0vw 6vw 0vw;
}

.fullbleedtextcontainer {
display: none;
}

.fullbleed {
padding: 0px 20px 0px 20px;
}

.fbimg {
margin-left: 8vw;
height: 35vw;
}

.rel {
margin-left: .8vw;
height: 70vw;
}
    

.bleedgroup {
margin-top: 2vw;
margin-left: 1vw;
width: 206vw;  
}
    
    
.browserscreen {
width: 100%;
height: 95vw;
border-radius: 1.5vh;
}


.browserbar {
border-radius: 1.2vh 1.2vh 0vh 0vh;
background: rgba(255,255,255,.9);
height: 5vw;
width: 76.2vw;
}
    
.browserbar img {
margin-left: 1.8vw;
margin-top: 0vw;
width: 4vw;        
}
    
.browsercontent {
margin-top: 5vw; 
}

.GRAY, .YELLOW, .GREEN, .SAND {padding: 20px 20px 20px 20px;}
}

